:root {
  --loja_fundo: #fff;
  --loja_fundo_imagem: inherit;
  --mobile_produto_box_altura: 220px;
  --mobile_produto_kit_altura: 480px;
  --mobile_saudacao_fundo: #000;
  --mobile_saudacao_fundo_active: #444;
  --mobile_saudacao_texto: #fff;
  --mobile_saudacao_texto_active: #fff;
  --mobile_atendimento_fundo: inherit;
  --mobile_atendimento_titulo: #666;
  --mobile_atendimento_texto: inherit;
  --mobile_produto_menu_fundo: #444;
  --mobile_produto_menu_texto: #fff;
  --produto_box_fundo: #fff;
  --produto_box_fundo_hover: #f5f5f5;
  --produto_box_borda_cor: inherit;
  --produto_box_borda_cor_hover: #fff;
  --produto_box_borda_espessura: 0px;
  --produto_box_borda_estilo: none;
  --produto_nome_cor: inherit;
  --produto_codigo_cor: inherit;
  --produto_foto_altura: 300px;
  --produto_valorpromocional_cor: inherit;
  --produto_valorfinal_cor: #f60;
  --produto_valorfinal_tamanho: 18px;
  --produto_texto_qtdminima: inherit;
  --produto_info_adicional: inherit;
  --produto_parcelamento: #666;
  --produto_login_fundo: #2bd162;
  --produto_login_texto: #fff;
  --produto_atacado_titulo: #000;
  --produto_atacado_borda: #f60;
  --produto_atacado_valor: #000;
  --produto_desconto_texto: #fff;
  --produto_desconto_fundo: #f60;
  --produto_categorias: #333;
  --produto_acao_fundo: rgba(0, 0, 0, 0.5);
  --produto_acao_olhar_fundo: rgba(0, 0, 0, 0.8);
  --produto_acao_olhar_texto: #fff;
  --produto_acao_comprar_fundo: #f60;
  --produto_acao_comprar_texto: #fff;
  --detalhes_comprar_texto: #fff;
  --detalhes_comprar_fundo: #16a326;
  --detalhes_olhar_fundo: #3e8ed8;
  --detalhes_olhar_texto: #fff;
  --detalhes_frete_fundo: #fff;
  --detalhes_frete_texto: #3e8ed8;
  --detalhes_frete_borda: #3e8ed8;
  --detalhes_variacao_fundo: #b4ff95;
  --detalhes_variacao_texto: #000;
  --detalhes_medidas_fundo: #ff0;
  --detalhes_medidas_texto: inherit;
  --detalhes_medidas_fundo_hover: #ffff72;
  --detalhes_medidas_texto_hover: inherit;
  --detalhes_carrinho_fundo: inherit;
  --detalhes_carrinho_texto: inherit;
  --detalhes_altura_maxima_foto: 560px;
  --titulos_fundo: inherit;
  --titulos_texto: inherit;
  --titulos_tamanho: 30px;
  --titulos_alinhamento: center;
  --titulos_borda_altura: 5px;
  --titulos_borda_cor: #000;
  --kits_altura: 480px;
  --blogwidget_fundo: #eee;
  --blogwidget_titulo_cor: inherit;
  --blogwidget_titulo_fundo: inherit;
  --blogwidget_titulo_borda: inherit;
  --blogpost_fundo: #fff;
  --blogpost_fundo_hover: #eee;
  --blogpost_texto: #000;
  --blogpost_texto_hover: inherit;
  --slogan_fundo: #000;
  --slogan_texto: #fff;
  --banners_slide: inherit;
  --alertas_destaque: inherit;
  --modal_fundo: #fff;
  --modal_texto: inherit;

  --rodape_base_fundo: #000;
  --rodape_base_texto: #fff;
  --rodape_titulo_texto: inherit;
  --rodape_links_texto: #fff;
  --rodape_links_texto_hover: inherit;
  --rodape_newsletter_fundo: #000;
  --rodape_newsletter_texto: #fff;
  --rodape_newsletter_botao_fundo: #000;
  --rodape_newsletter_botao_texto: #fff;
  --rodape_formulario_fundo: inherit;
  --rodape_formulario_texto: inherit;
  --rodape_fundo: inherit;
  --rodape_texto: inherit;
  --rodape_borda: inherit;

  --mt_amarelo: #ffb000;
  --mt_cinza: #707070;
  --mt_cinza_claro: #e1e1e1;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

// LISTAGEM DE PRODUTOS
.produtos {
  .item {
    background-color: transparent !important;
    border: 0 !important;
    .botoes {
      visibility: visible !important;
      opacity: 1 !important;
      width: auto !important;
      position: absolute;
      left: auto !important;
      right: 0.5em;
      top: 2rem !important;
      background-color: transparent;
      padding: 0;
      transition: none;
      z-index: 10;
      display: flex;
      gap: 1rem;
      > a {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50% !important;
        font-size: 0;
        display: block;
      }
      a[class="b_olhar"] {
        background: #000
          url(https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon_eye.svg)
          center center no-repeat;
      }
      a[class="b_acao"] {
        background: #000
          url(https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon_buy.svg)
          center center no-repeat;
      }
    }

    h3.produto {
      font-size: 1.4rem;
      font-weight: 800;
      text-align: left;
      float: none;
      clear: both;
      padding: 0;
      text-transform: uppercase;
      height: auto !important;
      margin-bottom: 0;
    }
    .valor {
      p.info_adicional {
        display: none;
      }
      p[class="valor_final"] {
        text-align: left;
        span {
          font-size: 1.4rem;
          color: var(--mt_cinza);
        }
      }
    }
  }
}

// PAGINA CATEGORIAS

main.categorias {
  padding: 0 !important;
  width: 100% !important;
}
#departamentos {
  padding-top: 10rem;
  > .cln.s:has(.produtos) {
    width: 100% !important;
  }
  .produtos {
    margin-top: 5rem;
    > .row {
      > div {
        flex: 0 0 25%;
        max-width: 25%;
        justify-content: flex-start;
      }
    }
  }
  .mobile-filtro {
    position: relative;
    justify-content: space-between !important;
    border: 0;
    margin-top: 4rem;
    top: 0;
    .item {
      border: 0 !important;
      width: auto;
      > a {
        background: var(--mt_cinza_claro);
        font-size: 1.1rem;
        color: #4d4d4d !important;
        border-radius: 0.7rem;
        padding: 0 1.5rem !important;
        text-transform: uppercase;
        i {
          display: none;
        }
      }
    }
    .open-filtro-suspenso {
      display: block!important;
    }
    .filtro-suspenso {
      position: absolute;
      width: 30rem;
      top: 3rem;
      left: 0;
      display: none;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
      background-color: #fff;

      .drop-filtro {
        padding: 2rem 3rem;
        .drop-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid var(--mt_cinza);
          padding-bottom: 1rem;
          margin-bottom: 2rem;
          h3 {
            font-size: 1.6rem;
            font-weight: 600;
          }
          span.fechar {
            font-size: 2.6rem;
            color: var(--mt_amarelo);
            cursor: pointer;
          }
        }
        .drop-list {
          > div {
            margin-bottom: 2rem;
          }
          .listing {
            .t.block {
              font-size: 1.4rem;
              font-weight: 700;
              margin-bottom: 1.4rem;
            }
            a {
              color: var(--mt_cinza);
            }
          }
          .colors {
            > div {
              display: flex;
              justify-content: flex-start;
              width: 100%;
              flex-wrap: wrap;
              gap: 1rem;
            }
          }
          .vars {
            > div {
              display: flex;
              justify-content: flex-start;
              width: 100%;
              flex-wrap: wrap;
              gap: 1rem;
            }
          }
        }
      }
    }
  }
  .row:has(.orderby) {
    display: none !important;
  }
}
