:root {
    --loja_fundo: #FFF;
    --loja_fundo_imagem: inherit;
    --mobile_produto_box_altura: 220px;
    --mobile_produto_kit_altura: 480px;
    --mobile_saudacao_fundo: #000;
    --mobile_saudacao_fundo_active: #444;
    --mobile_saudacao_texto: #FFF;
    --mobile_saudacao_texto_active: #FFF;
    --mobile_atendimento_fundo: inherit;
    --mobile_atendimento_titulo: #666;
    --mobile_atendimento_texto: inherit;
    --mobile_produto_menu_fundo: #444;
    --mobile_produto_menu_texto: #FFF;
    --produto_box_fundo: #FFF;
    --produto_box_fundo_hover: #F5F5F5;
    --produto_box_borda_cor: inherit;
    --produto_box_borda_cor_hover: #FFF;
    --produto_box_borda_espessura: 0px;
    --produto_box_borda_estilo: none;
    --produto_nome_cor: inherit;
    --produto_codigo_cor: inherit;
    --produto_foto_altura: 300px;
    --produto_valorpromocional_cor: inherit;
    --produto_valorfinal_cor: #F60;
    --produto_valorfinal_tamanho: 18px;
    --produto_texto_qtdminima: inherit;
    --produto_info_adicional: inherit;
    --produto_parcelamento: #666;
    --produto_login_fundo: #2BD162;
    --produto_login_texto: #FFF;
    --produto_atacado_titulo: #000;
    --produto_atacado_borda: #F60;
    --produto_atacado_valor: #000;
    --produto_desconto_texto: #FFF;
    --produto_desconto_fundo: #F60;
    --produto_categorias: #333;
    --produto_acao_fundo: rgba(0, 0, 0, 0.5);
    --produto_acao_olhar_fundo: rgba(0, 0, 0, 0.8);
    --produto_acao_olhar_texto: #FFF;
    --produto_acao_comprar_fundo: #F60;
    --produto_acao_comprar_texto: #FFF;
    --detalhes_comprar_texto: #FFF;
    --detalhes_comprar_fundo: #16A326;
    --detalhes_olhar_fundo: #3E8ED8;
    --detalhes_olhar_texto: #FFF;
    --detalhes_frete_fundo: #FFF;
    --detalhes_frete_texto: #3E8ED8;
    --detalhes_frete_borda: #3E8ED8;
    --detalhes_variacao_fundo: #b4ff95;
    --detalhes_variacao_texto: #000;
    --detalhes_medidas_fundo: #FF0;
    --detalhes_medidas_texto: inherit;
    --detalhes_medidas_fundo_hover: #FFFF72;
    --detalhes_medidas_texto_hover: inherit;
    --detalhes_carrinho_fundo: inherit;
    --detalhes_carrinho_texto: inherit;
    --detalhes_altura_maxima_foto: 560px;
    --titulos_fundo: inherit;
    --titulos_texto: inherit;
    --titulos_tamanho: 30px;
    --titulos_alinhamento: center;
    --titulos_borda_altura: 5px;
    --titulos_borda_cor: #000;
    --kits_altura: 480px;
    --blogwidget_fundo: #EEE;
    --blogwidget_titulo_cor: inherit;
    --blogwidget_titulo_fundo: inherit;
    --blogwidget_titulo_borda: inherit;
    --blogpost_fundo: #FFF;
    --blogpost_fundo_hover: #EEE;
    --blogpost_texto: #000;
    --blogpost_texto_hover: inherit;
    --slogan_fundo: #000;
    --slogan_texto: #FFF;
    --banners_slide: inherit;
    --alertas_destaque: inherit;
    --modal_fundo: #FFF;
    --modal_texto: inherit;
    

    --rodape_base_fundo: #000;
    --rodape_base_texto: #FFF;
    --rodape_titulo_texto: inherit;
    --rodape_links_texto: #FFF;
    --rodape_links_texto_hover: inherit;
    --rodape_newsletter_fundo: #000;
    --rodape_newsletter_texto: #FFF;
    --rodape_newsletter_botao_fundo: #000;
    --rodape_newsletter_botao_texto: #FFF;
    --rodape_formulario_fundo: inherit;
    --rodape_formulario_texto: inherit;
    --rodape_fundo: inherit;
    --rodape_texto: inherit;
    --rodape_borda: inherit;

    --mt_amarelo: #FFB000;
}