@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --loja_fundo: #fff;
  --loja_fundo_imagem: inherit;
  --mobile_produto_box_altura: 220px;
  --mobile_produto_kit_altura: 480px;
  --mobile_saudacao_fundo: #000;
  --mobile_saudacao_fundo_active: #444;
  --mobile_saudacao_texto: #fff;
  --mobile_saudacao_texto_active: #fff;
  --mobile_atendimento_fundo: inherit;
  --mobile_atendimento_titulo: #666;
  --mobile_atendimento_texto: inherit;
  --mobile_produto_menu_fundo: #444;
  --mobile_produto_menu_texto: #fff;
  --produto_box_fundo: #fff;
  --produto_box_fundo_hover: #f5f5f5;
  --produto_box_borda_cor: inherit;
  --produto_box_borda_cor_hover: #fff;
  --produto_box_borda_espessura: 0px;
  --produto_box_borda_estilo: none;
  --produto_nome_cor: inherit;
  --produto_codigo_cor: inherit;
  --produto_foto_altura: 300px;
  --produto_valorpromocional_cor: inherit;
  --produto_valorfinal_cor: #f60;
  --produto_valorfinal_tamanho: 18px;
  --produto_texto_qtdminima: inherit;
  --produto_info_adicional: inherit;
  --produto_parcelamento: #666;
  --produto_login_fundo: #2bd162;
  --produto_login_texto: #fff;
  --produto_atacado_titulo: #000;
  --produto_atacado_borda: #f60;
  --produto_atacado_valor: #000;
  --produto_desconto_texto: #fff;
  --produto_desconto_fundo: #f60;
  --produto_categorias: #333;
  --produto_acao_fundo: rgba(0, 0, 0, 0.5);
  --produto_acao_olhar_fundo: rgba(0, 0, 0, 0.8);
  --produto_acao_olhar_texto: #fff;
  --produto_acao_comprar_fundo: #f60;
  --produto_acao_comprar_texto: #fff;
  --detalhes_comprar_texto: #fff;
  --detalhes_comprar_fundo: #16a326;
  --detalhes_olhar_fundo: #3e8ed8;
  --detalhes_olhar_texto: #fff;
  --detalhes_frete_fundo: #fff;
  --detalhes_frete_texto: #3e8ed8;
  --detalhes_frete_borda: #3e8ed8;
  --detalhes_variacao_fundo: #b4ff95;
  --detalhes_variacao_texto: #000;
  --detalhes_medidas_fundo: #ff0;
  --detalhes_medidas_texto: inherit;
  --detalhes_medidas_fundo_hover: #ffff72;
  --detalhes_medidas_texto_hover: inherit;
  --detalhes_carrinho_fundo: inherit;
  --detalhes_carrinho_texto: inherit;
  --detalhes_altura_maxima_foto: 560px;
  --titulos_fundo: inherit;
  --titulos_texto: inherit;
  --titulos_tamanho: 30px;
  --titulos_alinhamento: center;
  --titulos_borda_altura: 5px;
  --titulos_borda_cor: #000;
  --kits_altura: 480px;
  --blogwidget_fundo: #eee;
  --blogwidget_titulo_cor: inherit;
  --blogwidget_titulo_fundo: inherit;
  --blogwidget_titulo_borda: inherit;
  --blogpost_fundo: #fff;
  --blogpost_fundo_hover: #eee;
  --blogpost_texto: #000;
  --blogpost_texto_hover: inherit;
  --slogan_fundo: #000;
  --slogan_texto: #fff;
  --banners_slide: inherit;
  --alertas_destaque: inherit;
  --modal_fundo: #fff;
  --modal_texto: inherit;

  --rodape_base_fundo: #000;
  --rodape_base_texto: #fff;
  --rodape_titulo_texto: inherit;
  --rodape_links_texto: #fff;
  --rodape_links_texto_hover: inherit;
  --rodape_newsletter_fundo: #000;
  --rodape_newsletter_texto: #fff;
  --rodape_newsletter_botao_fundo: #000;
  --rodape_newsletter_botao_texto: #fff;
  --rodape_formulario_fundo: inherit;
  --rodape_formulario_texto: inherit;
  --rodape_fundo: inherit;
  --rodape_texto: inherit;
  --rodape_borda: inherit;

  --mt_amarelo: #ffb000;
  --mt_cinza: #707070;
  --mt_cinza_claro: #e1e1e1;

  --fonte: "Montserrat", serif;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

body {
  font-family: "Montserrat", serif !important;
}

// LISTAGEM DE PRODUTOS
.produtos {
  .item {
    position: relative;
    background-color: transparent !important;
    border: 0 !important;
    .rate_box {
      display: none;
    }
    .valor_de {
      text-align: left;
      font-size: 1.2rem;
      span.vlr {
        margin-left: 0 !important;
      }
    }
    .show-colors > span {
      display: inline-block !important;
    }
    .cores span:nth-of-type(n + 4) {
      display: none;
    }
    .cores {
      margin-bottom: 0;
      span {
        margin-bottom: 0.8rem;
        width: 22px !important;
        height: 22px !important;
        border: 0 !important;
      }
    }
    .btn-cores {
      cursor: pointer;
      margin-bottom: 1.5rem;
      color: #707070;
      text-decoration: underline;
    }

    .show-tamanhos > span {
      display: inline-block !important;
    }
    .variacoes span:nth-of-type(n) {
      display: none;
    }
    .variacoes {
      margin-bottom: 0;
      span {
        margin-bottom: 0.8rem;
      }
    }
    .btn-tamanhos {
      cursor: pointer;
      margin-bottom: 1.5rem;
      color: #707070;
      text-decoration: underline;
    }

    .more {
      display: none;
    }
    .porc_desconto {
      top: 2.7rem !important;
      border-radius: 0;
      background: #000;
      padding: 0 1rem;
      width: fit-content;
      height: auto;
      left: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
      &:after {
        content: "OFF";
        color: #fff;
      }
    }
    .botoes {
      visibility: visible !important;
      opacity: 1 !important;
      width: auto !important;
      position: absolute;
      left: auto !important;
      right: 0.5em;
      top: 2rem !important;
      background-color: transparent;
      padding: 0;
      transition: none;
      z-index: 10;
      display: flex;
      gap: 1rem;
      > a {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50% !important;
        font-size: 0;
        display: block;
      }
      a[class="b_olhar"] {
        background: #000
          url(https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon_eye.svg)
          center center no-repeat;
      }
      a[class="b_acao"] {
        background: #000
          url(https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon_buy.svg)
          center center no-repeat;
      }
    }

    h3.produto {
      font-size: 1.4rem;
      font-weight: 800;
      text-align: left;
      float: none;
      clear: both;
      padding: 0;
      text-transform: uppercase;
      height: auto !important;
      margin-bottom: 2rem;
    }
    .valor {
      margin-bottom: 0;
      min-height: auto !important;
      p.info_adicional {
        display: none;
      }
      p[class="valor_final"] {
        text-align: left;
        span {
          font-size: 1.4rem;
          color: var(--mt_cinza);
        }
      }
    }
    .parcelamento {
      text-align: left;
      padding: 0;
    }
  }
}

// PAGINA CATEGORIAS

main.categorias {
  padding: 0 !important;
  width: 100% !important;
}
#departamentos {
  padding-top: 10rem;
  .alert-info {
    background: var(--mt_cinza);
    color: #fff;
    border: 0;
    border-radius: 10px;
  }
  > .cln.s:has(.produtos) {
    width: 100% !important;
  }
  .produtos {
    margin-top: 5rem;
    > .row {
      > div {
        flex: 0 0 25%;
        max-width: 25%;
        justify-content: flex-start;
      }
    }
  }
  .mobile-filtro {
    position: sticky;
    justify-content: space-between !important;
    border: 0;
    padding-top: 1.5rem;
    top: 16rem;
    background: #fff;
    padding-bottom: 1.5rem;
    .item {
      border: 0 !important;
      width: auto;
      > a {
        background: var(--mt_cinza_claro);
        font-size: 1.1rem;
        color: #4d4d4d !important;
        border-radius: 0.7rem;
        padding: 0 1.5rem !important;
        text-transform: uppercase;
        i {
          display: none;
        }
      }
    }
    .open-filtro-suspenso {
      display: block !important;
    }
    .filtro-suspenso {
      position: absolute;
      width: 30rem;
      top: 4rem;
      left: 0;
      display: none;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
      background-color: #fff;

      .drop-filtro {
        padding: 2rem 3rem;
        .drop-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid var(--mt_cinza);
          padding-bottom: 1rem;
          margin-bottom: 2rem;
          h3 {
            font-size: 1.6rem;
            font-weight: 600;
          }
          span.fechar {
            font-size: 2.6rem;
            color: var(--mt_amarelo);
            cursor: pointer;
          }
        }
        .drop-list {
          max-height: 32rem;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 3px;
          }

          &::-webkit-scrollbar-thumb {
            background: var(--mt_amarelo);
            opacity: .5;
          }
          > div {
            margin-bottom: 2rem;
          }
          .listing {
            .t.block {
              font-size: 1.4rem;
              font-weight: 700;
              margin-bottom: 1.4rem;
            }
            a {
              color: var(--mt_cinza);
            }
          }
          .colors {
            > div {
              display: flex;
              justify-content: flex-start;
              width: 100%;
              flex-wrap: wrap;
              gap: 1rem;
              > a {
                font-size: 0;
                width: 22px !important;
                height: 22px !important;
                border: 0 !important;
                border-radius: 50%;
                background-size: cover;
              }
            }
          }
          .vars {
            > div {
              display: flex;
              justify-content: flex-start;
              width: 100%;
              flex-wrap: wrap;
              gap: 1rem;
            }
          }
        }
      }
    }
  }
  .row:has(.orderby) {
    display: none !important;
  }
}

// CARRINHO SUSPENSO
.suspended-cart {
  .content {
    .drop-header {
      h3 {
        color: var(--mt_amarelo);
      }
      .fechar {
        border: 0 !important;
        font-size: 3rem;
        color: var(--mt_amarelo);
      }
    }
    .msg-empty {
      a.adicionar-agora {
        background: #000;
        border-radius: 0;
      }
    }
    .drop-list {
      .item {
        .foto {
        }
        .det {
          h3.produto {
            strong {
              color: var(--mt_amarelo);
            }
          }
        }
      }
    }
    .botoes {
      a.bt-continuar {
        border: 0 !important;
        color: #fff !important;
        background: #000 !important;
        border-radius: 10px;
      }
      a.bt-finalizar {
        border: 0 !important;
        background: var(--mt_amarelo) !important;
        color: #fff !important;
        border-radius: 10px !important;
      }
    }
  }
}
.btn-delete-item {
  border: 0 !important;
  font-size: 1.7rem !important;
  color: var(--mt_amarelo) !important;
}

section[id="finish"] {
  padding-top: 13rem;
  .main {
    > header {
      display: none !important;
    }
  }
}

.internal {
  padding: 13rem 0 5rem 0;
  h2.titulo {
    text-transform: uppercase;
    margin-bottom: 2rem !important;
  }
}

// MODAL DETALHES PRODUTO

#mymodal .mymodal-content .mymodal-header h3 {
  color: var(--mt_amarelo) !important;
  font-size: 2.5rem !important;
}

#mymodal .mymodal-content .mymodal-header .close::before,
#mymodal .mymodal-content .mymodal-header .close::after {
  border-bottom: 2px solid var(--mt_amarelo);
}
div[id="mymodal"] {
  .mymodal-header {
    .close {
    }
  }
  .mymodal-body {
    section[id="produto"] {
      // Galeria de fotos
      .cln:nth-of-type(1) {
        .descricao.hidden {
          h2.t {
            transition: all 0.3s ease;
            &:after {
              content: "" !important;
              width: 1.4rem;
              height: 1.4rem;
              background: url(https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/arrow_yellow.svg)
                center center no-repeat;
              background-size: contain;
              transition: all 0.3s ease;
            }
          }
        }
        .descricao {
          h2.t {
            color: #000 !important;
            font-weight: 600;
            font-size: 1.4rem;
            transition: all 0.3s ease;
            &:after {
              transition: all 0.3s ease;
              content: "" !important;
              width: 1.4rem;
              height: 1.4rem;
              background: url(https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/arrow_yellow.svg)
                center center no-repeat;
              background-size: contain;
            }
          }
          .texto {
            p {
              font-size: 1.4rem;
              color: #000;
            }
          }
        }
      }
      // Infos produto
      .cln:nth-of-type(2) {
        .detalhes {
          h3.nome_produto {
            font-size: 2.4rem;
            color: var(--mt_amarelo);
          }
          .valores {
            p.valor_apartir {
              span {
                background: var(--mt_amarelo);
              }
            }
            .valor {
              span {
                color: var(--mt_amarelo);
              }
            }
            .parcelas {
              p {
                color: #4d4d4d;
                span {
                  color: #4d4d4d;
                }
              }
            }
          }
          .cores {
            .t {
              font-size: 1.4rem;
              color: #000;
            }
          }
          .variacoes {
            .t {
              font-size: 1.4rem;
              color: #000;
              margin-bottom: 1.2rem;
            }
            .list {
              .item {
                border: 0 !important;
                font-size: 1.4rem;
                color: var(--mt_cinza);
                &:hover {
                  background: var(--mt_amarelo) !important;
                }
              }
              .item.active {
                background: var(--mt_amarelo) !important;
              }
            }
          }
          .botoes {
            float: none;
            clear: both;
            .bt-comprar.bt-combo {
              border-radius: 1.2rem !important;
              background: var(--mt_cinza) !important;
              text-transform: uppercase;
              border: 0;
              float: none !important;
              clear: both !important;
              width: 100%;
              display: block;
              margin-bottom: 1rem;
            }
            .bt-comprar-secundario {
              border-radius: 1.2rem !important;
              background: var(--mt_amarelo) !important;
              text-transform: uppercase;
              border: 0 !important;
              color: #fff !important;
              float: none !important;
              clear: both !important;
              width: 100%;
              display: block;
            }
          }
          #calculo_frete {
            max-width: 30rem;
            float: none;
            clear: both;
            margin-top: 2rem !important;
            form[id="frmFrete"] {
              p.label {
                font-size: 1.4rem;
                color: #000;
              }
              > .row {
                margin: 0;
                > div {
                  padding: 0;
                  &:nth-of-type(1) {
                    input {
                      background: transparent;
                      border: 1px solid #000;
                      padding: 0;
                      height: 30px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 0 !important;
                    }
                  }
                  &:nth-of-type(2) {
                    button {
                      background: #000;
                      color: #fff;
                      height: 30px;
                      border: 1px solid #000;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }
                  }
                }
              }
            }
          }
          .b_mais {
            display: none !important;
          }
        }
      }
    }
  }
}

section[id="contato"] {
  padding: 8rem !important;
  h2.titulo {
    margin-bottom: 2rem;
  }
  .bt-enviar {
    background: var(--mt_amarelo) !important;
    color: #fff;
  }
  form[id="form"] {
    input,
    select,
    textarea {
      border: 1px solid #000 !important;
    }
  }
}

.central:has(.titulo) {
  .alert.alert-error.text-center {
    padding: 10rem 0;
  }
}

// LOGIN
section[id="login"] {
  padding-top: 12rem !important;
  .wrapper {
    border-radius: 2rem !important;
    border: 1px solid var(--mt_amarelo) !important;
    padding-bottom: 5rem;
    > h3 {
      font-weight: 600;
    }
    div[id="inc-login"] {
      .frmAccessModal {
        input {
          border-radius: 1.2rem;
        }
      }
      button[type="submit"] {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        background-color: #000 !important;
        border: 0 !important;
        height: 4rem !important;
        font-size: 1.4rem !important;
      }
    }
    .bt-login-global {
      border-radius: 1.2rem;
    }
    .botoes-social {
      > a {
        border-radius: 10px !important;
      }
    }
  }
}

.mymodal-content:has(form[id="frm1"]) {
  .mymodal-header {
    h3 {
      font-weight: 400 !important;
    }
    .close {
      opacity: 1;
    }
  }
  .mymodal-body {
    form[id="frm1"] {
      input,
      select {
        height: 30px;
        border-radius: 10px;
        border: 1px solid rgba(112, 112, 112, 0.5);
      }
      p.lbl {
        text-align: left !important;
        color: #707070;
      }
      > div:not(.divider) {
        margin-bottom: 1.4rem !important;
      }
      > div.divider {
        margin: 2rem 0;
        border-top: 1px solid var(--mt_cinza);
        padding: 2rem 0 0;
        .col {
          padding-left: 0 !important;
        }
        h3 {
          color: var(--mt_amarelo) !important;
          font-size: 1.6rem !important;
        }
      }
      label:has(input[type="checkbox"]) {
        .col {
          padding-left: 0 !important;
        }
        display: flex;
        align-items: center;
        gap: 1rem;
        strong {
          color: var(--mt_cinza) !important;
        }
      }
      button[type="submit"] {
        background: #000 !important;
      }
    }
  }
}

.box-central-usuario {
  padding-top: 6rem !important;
}

section[id="carrinho"] {
  padding-top: 12rem !important;
  h2.title {
    font-weight: 700;
  }
  .cart-products {
    .produto {
      color: var(--mt_amarelo);
    }
    .quantidade {
      .seletor {
        border: 1px solid rgba(112, 112, 112, 1) !important;
        border-radius: 10px;
        overflow: hidden;
        span {
          background: var(--mt_amarelo);
        }
      }
    }
  }
  .cart-conference {
    .title {
      font-weight: 700;
    }
    .itens {
      .item {
        margin-bottom: 1rem;
      }
    }
    .botoes {
      a.bt-finaliza {
      }
      a.bt-continuar {
      }
    }
  }
}

#carrinho .wrapper .resumo .itens .botoes a.bt-finalizar {
  background: var(--mt_amarelo) !important;
  border: 0 !important;
  color: #fff !important;
}
#carrinho .wrapper .resumo .itens .botoes a.bt-continuar {
  background: var(--mt_cinza) !important;
  border: 0 !important;
  color: #fff !important;
}

// CHECKOUT
section[id="finish"] {
  .box {
    .header {
      .step {
        background-color: var(--mt_amarelo) !important;
      }
    }
  }
  .btn-success {
    background: #000 !important;
    border: 0 !important;
    color: #fff !important;
    font-size: 1.3rem;
  }
}
.btn-alterar {
  background-color: #000 !important;
  color: #fff !important;
  border: 0 !important;
}
#finish .main .enderecos-lista .item,
#finish-mobile .main .enderecos-lista .item {
  background-color: transparent !important;
}
#finish .lista-inputs .item,
#finish-mobile .lista-inputs .item {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  .mobile-filtro {
    top: 12rem!important;
  }
  #departamentos {
    .produtos {
      margin-top: 5rem;
      > .row {
        > div {
          flex: 0 0 50%;
          max-width: 50%;
          justify-content: flex-start;
        }
      }
    }
  }
  .produtos {
    .item .porc_desconto {
      font-size: 1rem !important;
      padding: 0 0.5rem !important;
      top: 2.4rem !important;
      height: 20px !important;
    }
    .botoes {
      gap: 0.5rem;
      > a {
        width: 2.9rem !important;
        height: 2.9rem !important;
        border-radius: 50% !important;
        font-size: 0;
        display: block;
      }
      a[class="b_olhar"] {
        background: #000
          url(https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon_eye.svg)
          center center no-repeat;
        background-size: 70% !important;
      }
      a[class="b_acao"] {
        background: #000
          url(https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon_buy.svg)
          center center no-repeat;
        background-size: 49% !important;
      }
    }
    .variacoes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      > span {
        width: 46% !important;
        font-size: 0.9rem !important;
      }
    }
  }

  #finish-mobile .main .box .header .t {
    font-weight: 500 !important;
  }
}
