{% set paginasInstitucional = store.dynamicPages({local:'1', text_upper:true, onBase:true}) %}
{% set paginasAjuda = store.dynamicPages({local:'2', text_upper:true, onBase:true}) %}
{% set infoPages = store.getInfoPages({text_upper:true}) %}
{% set footerText = store.footerText() %}
{% set redesSociais = store.socialIcons() %}
{% set widgetfb = store.widgetFacebook() %}
{% set pagamentos = store.paymentBrand() %}
{% set selos = store.securitySeal() %}
{% set widgetNews = store.widgetNews() %}

{% if page != 'login' and page != 'shop_cart' and not global.var_desabilita_news %}
    <div class="news">
       <div class="central">
        <h3 class="titulo">{{ widgetNews.title }}</h3>
        <div class="box">
            <!-- <p>{{ widgetNews.subtitle1 }}<br>{{ widgetNews.subtitle2 }}</p> -->
            <form id="frmNews" action="news_func.php" method="post" class="post">
                <input type="email" name="email" class="input-block-level" aria-label="Digite seu e-mail aqui" required placeholder="Digite seu e-mail aqui">
                <button type="submit">ME INSCREVER</button>
            </form>
        </div>
       </div>
    </div>
{% endif %}
<footer id="rodape">
    <div class="central">
        <div class="col-footer item-institucional">
            <h3 class="titulo">INSTITUCIONAL</h3>
            <div class="lista">
                <a href="sobre/">SOBRE NÓS</a>
                {% for page in paginasInstitucional %}
                    {{ page|raw }}
                {% endfor %}
                <a href="fale-conosco/">FALE CONOSCO</a>
            </div>
        </div>
        <div class="col-footer item-conta">
            {% if not global.var_bloquear_cadastros %}
                <h3 class="titulo">MINHA CONTA</h3>
                <div class="lista">
                    <a href="central/dados/">MINHA CONTA</a>
                    {% if not global.var_mostruario %}
                        <a href="central/pedidos/">MINHAS COMPRAS</a>
                        <a href="carrinho/">MEU CARRINHO</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="col-footer item-atendimento">
            {% if footerText.base != '' %}
                <h3 class="titulo">ATENDIMENTO</h3>
                <div class="lista">
                    {{ footerText.base|raw }}
                </div>
            {% endif %}
        </div>
        <div class="col-footer item-social">
            {% if redesSociais.raw|length >= 1 %}
                <h3 class="titulo">NOSSAS REDES</h3>
                <div class="lista">
				{% for item in redesSociais.raw %}
					{{ item|raw }}
				{% endfor %}
                </div>
            {% endif %}
            <div class="content-seguranca">
                <h3 class="titulo">SEGURANÇA</h3>
                {% for selo in selos %}
                    {{ selo|raw }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="content-dev">
        {{ footerText.rodape|raw }}
    </div>
</footer>
    
</footer>

<footer class="block d-none">
	{% if page != 'shop_cart' %}
	<section id="base" class="block">
        <div class="central">
            <div class="blc">
			
                
            </div>
            <div class="blc">
                <h3 class="t">PRECISA DE AJUDA?</h3>
                <div class="links">
                {% for page in infoPages %}
					{{ page|raw }}
				{% endfor %}
				{% for page in paginasAjuda %}
                    {{ page|raw }}
				{% endfor %}
                {% if not global.var_mostruario %}
                    <a href="central/pedidos/">ACOMPANHAR MEUS PEDIDOS</a>
                {% endif %}
                </div>
            </div>
        
            <div class="social">
			
            {% if widgetfb %}
                <div class="widget">
					{{ widgetfb.raw|raw }}
                </div>
            {% endif %}
            </div>
        </div>
    </section>
	{% endif %}

    <section id="secure" class="block">
        <div class="central">
		{% if pagamentos.brand|length >= 1 and not global.var_mostruario %}
            <div class="pgto">
                <h3 class="t">FORMAS DE PAGAMENTO</h3>
                <div class="pagamentos">
                	<div class="servicos">
					{% for gateway in pagamentos.gateway %}
						<span><img src="https://sistema.wbuy.com.br/img/loading-heart.svg" data-src="{{ gateway.icone }}" alt="Page com {{ gateway.nome }}" class="img-fluid lazy"></span>
					{% endfor %}
                    </div>
                	<div class="itens">
					{% for bandeira in pagamentos.brand %}
                        <span title="{{ bandeira.nome }}"><img src="https://sistema.wbuy.com.br/img/loading-heart.svg" data-src="{{ bandeira.icone }}" alt="{{ bandeira.nome }}" class="lazy"></span>
                    {% endfor %}
	                </div>
                </div>
            </div>
        {% endif %}
            <div class="selos">
                
            </div>
		
        </div>
    </section>
</footer>


<script>
    window.addEventListener("load", (event) => {
        const contentLogosDev = document.querySelector('footer.d-none + script + p + div');
        const contentLogosProd = document.querySelector('footer.d-none + script + div');
        const contentLegal = document.querySelector('.content-dev');

        contentLogosDev ? contentLegal.prepend(contentLogosDev) : contentLegal.prepend(contentLogosProd);
});

</script>

