{% set dados = store.pageProducts({
	total_per_page: '12',
	page: extra.page,
	cor: extra.cor,
	var: extra.var,
	order: extra.order,
}) %}

<main class="block custom_showcase">
	<div class="central">
		<section id="departamentos" class="block">
			<nav class="mb-3" aria-label="breadcrumb">
				<ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<a href="{{ base }}/" itemprop="item">
							<span itemprop="name">Página inicial</span>
						</a>
						<meta itemprop="position" content="1" />
					</li>
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<a href="{{ base }}/produtos-incriveis/" itemprop="item">
							<span itemprop="name">Produtos incríveis</span>
						</a>
						<meta itemprop="position" content="2" />
					</li>
				</ol>
			</nav>

			{% if geral.hasPerformaAI %}
			<performa></performa>
			{% endif %}

			<h2 class="titulo my-0 mb-3">{{ dados.page.title|upper }}</h2>

			<div class="row">
				<div class="col-md-6">
					<span>{{ dados.products.total ~ plural(dados.products.total, ' ', 'produto encontrado', 'produtos encontrados') }}</span>
				</div>
				<div class="col-md-6 text-md-right">
					<span>Ordenar por</span>
					<select class="border border-dark p-1 mx-2 orderby" style="width: 150px; font-size: 12px;">
						{% for item in dados.filters %}
						<option value="{{ item.value }}" data-url="{{ item.data_url }}"{{ item.selected ? ' selected' : '' }}>{{ item.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			{% if dados.page.hasMenuLateral %}
			<div class="cln p">
				<div class="block d-block d-md-none text-center filtrar">
					<h4 class="t"><span class="border border-dark p-2 d-inline-block">FILTRAR <i class="fa fa-caret-down"></i></span></h4>
				</div>
				<div class="block d-none d-md-block animated fadeIn filtros">
					<div class="listing">
						<h3 class="t">RELACIONADOS</h3>
						<div class="b">
							{% for item in dados.categories.cl1 %}
							<a href="{{ item.url }}">{{ item.nome|upper }}</a>
							{% endfor %}
						</div>
					</div>
					{% if dados.colors.items|length >= 1 %}
					<div class="listing colors">
						<h3 class="t block">
							<span class="float-left">COR</span>
							{% if extra.cor %}
							<span class="float-right"><a href="{{ dados.colors.url_all }}" style="font-size: 10px;">Todos</a></span>
							{% endif %}
						</h3>
						<div class="b">
							{% for cor in dados.colors.items %}
							<a href="{{ cor.url }}"{{ extra.cor == cor.id ? ' class="active"' : '' }}>{{ cor.nome }}</a>
							{% endfor %}
						</div>
					</div>
					{% endif %}

					{% for variacao in dados.variations %}
					<div class="listing vars">
						<h3 class="t block">
							<span class="float-left">{{ variacao.nome|upper }}</span>
							{% if extra.var %}
							<span class="float-right"><a href="{{ variacao.url_all }}" style="font-size: 10px;">Todos</a></span>
							{% endif %}
						</h3>
						<div class="b">
							{% for item in variacao.items %}
							<a href="{{ item.url }}"{{ extra.var == item.id ? ' class="active"' : '' }}>{{ item.valor }}</a>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			<div class="cln s{{ not dados.page.hasMenuLateral ? ' w-100' : ''}}">
				{% if dados.page.marca.logo_url %}
				<div id="marca-logo" class="block text-center mb-4">
					<img src="{{ dados.page.marca.logo_url }}" alt="{{ dados.page.marca.nome }}" style="max-height: 100px;" class="img-fluid" />
				</div>
				{% endif %}

				<!--
				<div class="produtos">
					<div class="row">
						{% for produto in dados.products.data %}
						<div class="{{dados.page.hasMenuLateral ? 'col-md-4' : 'col-md-3' }} {{ dados.page.mobile.coluna_dupla ? 'col-6' : 'col-12' }}">
							{{ store.productBoxDefault(produto) }}
						</div>
						{% else %}
						<div class="col">
							<div class="alert alert-info text-center">
								<p>Nenhum produto encontrado no momento em: {{ dados.page.title }}</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				-->

				<div class="produtos">
					<div class="row">
						{% for produto in dados.products.data %}
						<div class="{{dados.page.hasMenuLateral ? 'col-md-4' : 'col-md-3' }} {{ dados.page.mobile.coluna_dupla ? 'col-6' : 'col-12' }}">
							{{ include('widgets/box-do-produto.html') }}
						</div>
						{% else %}
						<div class="col">
							<div class="alert alert-info text-center">
								<p>Nenhum produto encontrado no momento em: {{ dados.page.title }}</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>

				{% if dados.pagination.page_total > 1 %}
				<div class="row divider mb-4">
					<div class="col text-center">
						{{ dados.pagination.page_prev ? ('<a href="' ~ dados.pagination.page_prev ~ '" class="btn btn-sm btn-outline-dark"><i class="fa fa-caret-left fa-fw"></i> Página anterior</a>')|raw : '<span class="btn btn-sm btn-outline-dark disabled"><i class="fa fa-caret-left fa-fw"></i> Página anterior</span>' }}
						<select class="border border-dark mx-1" onChange="location.href=this.value;" style="height: 31px; display: inline-block; vertical-align: middle; padding: 0 5px; background-color: transparent;">
							{% for page in dados.pagination.page_all %}
							<option value="{{ page.url }}"{{ dados.pagination.page_atual == page.page ? ' selected' : '' }}>{{ page.page }}</option>
							{% endfor %}
						</select>
						{{ dados.pagination.page_next ? ('<a href="' ~ dados.pagination.page_next ~ '" class="btn btn-sm btn-outline-dark"><i class="fa fa-caret-right fa-fw"></i> Próxima página</a>')|raw : '<span class="btn btn-sm btn-outline-dark disabled"><i class="fa fa-caret-right fa-fw"></i> Próxima página</span>' }}
					</div>
				</div>
				{% endif %}
			</div>

			{% if geral.hasSmartHint %}
			<div id="smarthint-position-1"></div>
			<div id="smarthint-position-2"></div>
			<div id="smarthint-position-3"></div>
			<div id="smarthint-position-4"></div>
			<div id="smarthint-position-5"></div>
			{% endif %}

			{% if geral.hasPerformaAI %}
			<performa></performa>
			{% endif %}
		</section>
	</div>
	
	<script>
	$(function(){
		{% if geral.hasSmartHint %}
			SmartHint.Call('setPage',{type:'brand', data: {content: '{{ dados.page.title }}'} });
		{% endif %}

		$('.filtrar').click(function(){
			$(this).toggleClass('mb-4');
			$('.filtros').toggleClass('d-none');
		});

		$('.orderby').change(function(){
			var url = $('option:selected', this).data('url');
			location.href = url;
		});
	});
	</script>
</main>