{% set usuario = store.userStore() %}
{% set categorias = store.categories() %}
{% set categorias_menu = store.categoriesMenu() %}


<header class="block">
	<div class="content-oferta" style="float:none; clear:both;">
		<component data-modulo="ofertasperiodicas" loading="false" data-paddingtop="false" data-hidescroll="false"></component>
	</div>
	<div class="central">
		<div class="mobile-inc"></div>
		<span class="openmenu">
			<img src="https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon-menu.svg" alt="">
			<span class="t">menu</span>
		</span>
		<div class="wrapper-header">
			<div class="content-logo">
				<a href="./" id="btLogo" aria-label="{{ seo.title }}">
					<img src="{{ store.getLogo() }}" alt="">
				</a>
			</div>
			<ul class="menu-institucional">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li>
					<a href="/m/quem-somos">Quem Somos</a>
				</li>
				<li>
					<a href="/fale-conosco">Fale Conosco</a>
				</li>
			</ul>
	
			<div class="pull-right">
				<div class="search">
					<div class="d-none d-md-block">
						<form action="busca/" method="get">
							<input type="text" class="form-control" name="q" data-url="produtos_autocomplete.php" placeholder="Buscar"
								aria-label="Pesquisar">
							<button type="submit" aria-label="Filtrar">
								<img src="https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon-search.svg" alt="">
							</button>
						</form>
						<span class="cover"></span>
						<span class="rm">&times;</span>
						<span class="cover-all"></span>
					</div>
					<div class="d-block d-md-none">
						<a href="./" class="bt-mobile mymodal" data-include="inc.php?meio=modal_search" data-title="Pesquisar"><img src="https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon-search.svg" alt=""></a>
					</div>
				</div>
				<div class="content-user">
					{% if not global.var_mostruario %}
						<div class="dropdown">
							<a href="/central/favoritos">
								<img src="https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon-favorite.svg" alt="">
							</a>
							<!-- <div class="list load-action-login"></div>; -->
						</div>
						<div class="dropdown">
							<a href="/central">
								<img src="https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon-user.svg" alt="">
							</a>
							<!-- <div class="list load-action-login"></div>; -->
						</div>
						<div class="shopcart{{ global.var_carrinho_suspenso ? ' suspended' : '' }}">
							<a href="carrinho/" class="cart">
								<img src="https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon-cart.svg" alt="">
								<span class="sup">0</span>
							</a>
						</div>
						{% elseif global.var_mostruario and not global.var_bloquear_cadastros %}
						<div class="dropdown">
							<a href="/central">
								<img src="https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon-user.svg" alt="">
							</a>
							<!-- <div class="list load-mostruario-login"></div> -->
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if show_menu != false or page != 'principal.php' %}
			<div class="links">
				<div class="topo-links d-block d-sm-none">
					<div class="close">
						<img src="https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icons8-close.svg" alt="">
					</div>
					{% if not usuario.logged %}
							<div class="topo-not-logged">
								<div>
									<img src="https://cdn.sistemawbuy.com.br/arquivos/e6842bacaa63df62bcb0ec463cfb8dda/templates/mt-theme/assets/icon-user-full.svg" alt="">
									<h1>Olá visitante.</h1>
								</div>
								<a href="login/">Entrar /Cadastrar</a>
							</div>
							{% else %}
							<div class="topo-logged">
								<h1>Bem-vindo(a), {{usuario.logged.nome}}</h1>
								<a href="central/pedidos/">Central de pedidos</a>
								<a href="central/dados/">Meus dados</a>
								<a href="#" id="b-desconectar" class="text-danger">Desconectar</a>
							</div>
					{% endif %}
				</div>
				<nav>
					<ul>
						{% if categorias|length > 3 and global.show_menu_todaloja %}
						<li>
							<a href="./" onClick="return false;">
								{% if show_menu_icones == '2' %}
								<i class="fa fa-th"></i>
								{% endif %}
								<strong>Toda a loja</strong>
								<span class="fa fa-angle-down"></span>
							</a>
							{% if categorias|length > 1 %}
							<div class="drop">
								<div class="central">
									<div class="grid">
										{% for categoria in categorias %}
										<ul class="list">
											{% if categoria.tipo == '2' %}
											<li class="t"><a href="{{ categoria.categoria_link }}" target="{{ categoria.categoria_target }}"
													{{ categoria.cor != '' ? ('style="color:' ~ categoria.cor ~ '"')|raw : '' }}>{{ categoria.nome }}</a>
											</li>
											{% else %}
											<li class="t"><a href="{{ categoria.url }}"
													{{ categoria.cor != '' ? ('style="color:' ~ categoria.cor ~ '"')|raw : '' }}>{{ categoria.nome }}</a>
											</li>
											{% endif %}
											{% for level2 in categoria.subs %}
												{% if level2.tipo == '2' %}
												<li><a href="{{ level2.categoria_link }}" target="{{ level2.categoria_target }}"><i
															class="fa fa-caret-right muted"></i> {{ level2.nome }}</a></li>
												{% else %}
												<li><a href="{{ level2.url }}"><i class="fa fa-caret-right muted"></i> {{ level2.nome }}</a></li>
												{% endif %}
		
												{% for level3 in level2.subs %}
												{% if level3.tipo == '2' %}
												<li class="indent"><a href="{{ level3.categoria_link }}" target="{{ level3.categoria_target }}">-
														{{ level3.nome }}</a></li>
												{% else %}
												<li class="indent"><a href="{{ level3.url }}">- {{ level3.nome }}</a></li>
												{% endif %}
												{% endfor %}
											{% endfor %}
										</ul>
										{% endfor %}
									</div>
								</div>
							</div>
							{% endif %}
						</li>
						{% endif %}
	
						{% for cat in categorias_menu|slice(0,8) %}
						<li>
							{% if cat.tipo == '2' %}
							<a href="{{ cat.categoria_link }}" target="{{ cat.categoria_target }}">
								{{ cat.icone_categoria|raw }}
								<span{{ cat.cor != '' ? (' style="color:' ~ cat.cor ~ ';"')|raw : '' }}>{{ cat.nome }}</span>
							</a>
							{% else %}
							<a href="{{ cat.url }}">
								{{ cat.icone_categoria|raw }}
								<span{{ cat.cor != '' ? (' style="color:' ~ cat.cor ~ ';"')|raw : '' }}>{{ cat.nome }}</span>
									{% if cat.subs|length >= 1 %}
									<span class="fa fa-angle-down"></span>
									{% endif %}
							</a>
							{% endif %}
	
							{% if cat.subs|length >= 1 %}
							<div class="drop{% if cat.banner != '' %} subs {% endif %}">
								<div class="central">
									<div class="grid">
										{% for level2 in cat.subs %}
										<ul class="list">
											{% if level2.tipo == '2' %}
											<li class="t">
												<a href="{{ level2.categoria_link }}" target="{{ level2.categoria_target }}">
													{{ level2.icone_categoria|raw }}
													{{ level2.nome }}
												</a>
											</li>
											{% else %}
											<li class="t">
												<a href="{{ level2.url }}">
													{{ level2.icone_categoria|raw }}
													{{ level2.nome }}
												</a>
											</li>
											{% endif %}
											<li class="drop" id="submenu">
												<ul>
													{% for level3 in level2.subs %}
														{% if level3.tipo == '2' %}
														<li><a href="{{ level3.categoria_link }}" target="{{ level3.categoria_target }}"><i
																	class="fa fa-caret-right muted"></i> {{ level3.nome }}</a></li>
														{% else %}
														<li><a href="{{ level3.url }}"><i class="fa fa-caret-right muted"></i> {{ level3.nome }}</a></li>
														{% endif %}
													{% endfor %}
												</ul>
											</li>
										</ul>
										{% endfor %}
									</div>
									{% if cat.banner != '' %}
									<div class="bnr">
										{{ cat.banner|raw }}
									</div>
									{% endif %}
								</div>
							</div>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</nav>
			</div>
			{% endif %}
	</div>
</header>

{% if global.var_carrinho_suspenso %}
<div class="suspended-cart">
	<div class="cover"></div>
	<div class="content"></div>
</div>
{% endif %}

<script defer>
	$(function(){
		$(window).scroll(function(){
			let scr = $(this).scrollTop();
			let w = $(this).width();
			if(scr >= 10 && w > 800)
				!$('header').hasClass('scroll') ? $('header').addClass('scroll') : '';
			else
				$('header').hasClass('scroll') ? $('header').removeClass('scroll') : '';
		});
		
		{% if is_mobile %}
		$('.mobile-inc').load('inc.php?meio=menu_mobile');
		{% endif %}
			
			$.post('action.php', {funcao:'userdata'}, function(d){
					let html = '';
					{% if not var_mostruario %}
							if(d.logged !== '1'){
									{% if global.var_login_suspenso %}
						let modal_login_title = '{{ global.textos_painel.modal_login_titulo ?: "Entrar" }}';
											html = '<a href="#" class="mymodal" data-include="inc.php?meio=modulos/login/inc_login" data-title="'+modal_login_title+'" data-width="420">Entrar</a>';
									{% else %}
											html = '<a href="login/">Entrar</a>';
									{% endif %}
							}else{
									html = '<a href="central/pedidos/">Central de pedidos</a><a href="central/dados/">Meus dados</a><a href="#" class="b-desconectar text-error">Desconectar</a>';
							}
							$('.load-action-login').html(html);
					{% elseif var_mostruario and not var_bloquear_cadastros %}
							if(d.logged !== '1'){
									html = '<a href="login/">Entrar</a>';
							}else{
									html = '<a href="central/dados/">Meus dados</a><a href="#" class="b-desconectar text-error">Desconectar</a>';
							}
							$('.load-mostruario-login').html(html);
					{% endif %}
			}, 'json');
	});
	document.querySelector('nav li:has(a[href="tapetes/"])').style.cssText = 'display: block!important;';
	document.querySelectorAll('li[id="teste"] > ul').forEach(element => {
		element.children.length === 0 ? element.parentElement.remove() : null
	})
	console.log('header@');
	</script>