:root {
  --topo_fundo: #000;
  --topo_texto: #fff;
  --busca_fundo: #333;
  --busca_texto: #fff;
  --busca_botao: #f60;
  --busca_texto: #fff;
  --busca_borda_cor: #000;
  --busca_icone_mobile: #fff;
  --cesta_cor: inherit;
  --cesta_separador: #444;
  --cesta_numero_fundo: #f60;
  --cesta_numero_cor: #fff;
  --departamentos_fonte: inherit;
  --departamentos_fonte_weight: 400;
  --departamentos_tamanho: 14px;
  --departamentos_cor: #fff;
  --departamentos_borda_cor: #000;
  --departamentos_borda_cor_hover: #f60;
  --categorias_nivel2_fundo: #fff;
  --categorias_nivel2_fundo_hover: #000;
  --categorias_nivel2_texto: #000;
  --categorias_nivel2_texto_hover: #fff;
  --mobile_produto_menu_fundo: #444;
  --mobile_produto_menu_texto: #fff;
}
body {
  padding-top: 70px;
}

#btLogo {
  overflow: hidden;
  color: transparent;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  color: var(--topo_texto);

  &.scroll {
    box-shadow: 0 2px 2px #ddd;
  }

  .links {
    float: left;
    max-width: 640px;
    height: 70px;
    white-space: nowrap;

    ul {
      list-style: none;

      > li {
        display: inline-block;

        > a {
          float: left;
          font-size: var(--departamentos_tamanho);
          font-family: var(--departamentos_fonte);
          font-weight: var(--departamentos_fonte_weight);
          line-height: 68px;
          padding: 0 10px;
          color: #000;
          border-bottom: solid 2px var(--departamentos_borda_cor);
          transition: all 0.01s ease;

          i.fa {
            margin-right: 5px;
            font-size: 20px;
            vertical-align: middle;
          }

          img {
            margin-right: 5px;
            max-height: 20px;
            vertical-align: middle;
          }
        }

        &:hover {
          > a {
            border-bottom: solid 2px var(--departamentos_borda_cor_hover);
          }

          .drop {
            visibility: visible;
            opacity: 1;
            transition: all 0.25s ease;
          }
        }
      }
    }
  }

  .search {
    width: 190px;
    float: left;
    margin: 15px 10px;
    position: relative;

    .cover-all {
      width: 100%;
      position: fixed;
      left: 0;
      background-color: #fff;
      top: 0;
      height: 70px;
      z-index: 1;
      visibility: hidden;
    }

    .bt-mobile {
      color: var(--busca_icone_mobile);
    }

    form {
      position: initial !important;
    }

    input {
      width: calc(100% - 40px);
      float: left;
      background-color: var(--busca_fundo);
      color: var(--busca_texto);
      padding: 0 15px;
      line-height: 40px;
      height: 40px;
      border: 0;
      border-bottom: solid 1px var(--busca_borda_cor);
      box-shadow: none !important;

      &:focus {
        border-color: initial;
      }
    }

    button {
      width: 40px;
      height: 40px;
      float: left;
      background-color: var(--busca_botao);
      color: var(--busca_texto);
      font-size: 20px;

      &:active {
        opacity: 0.7;
      }
    }

    .cover {
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      width: 100%;
      height: 100%;

      &.close {
        visibility: hidden;
        opacity: 0;
      }
    }

    .rm {
      visibility: hidden;
      position: absolute;
      left: 100%;
      top: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      background-color: #444;
      line-height: 40px;
      width: 40px;
      color: #fff;
      text-align: center;
      font-size: 20px;
    }

    .boxquery {
      width: 400px;
      left: auto;
      right: 0;
      color: #000;

      .foto {
        width: 50px;
        height: 50px;
        float: left;
        background-color: #eee;
        margin-right: 10px;
        position: relative;
        overflow: hidden;
      }

      .det {
        width: calc(100% - 60px);
        float: left;

        h3 {
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 5px;
          color: var(--mt_amarelo) !important;
        }

        p {
          font-size: 1.4rem !important;
          line-height: 16px;
          color: var(--mt_cinza);
        }
      }
    }
  }

  .dropdown {
    float: left;
    line-height: 70px;
    margin: 0 10px;
    position: relative;

    p {
      cursor: pointer;
    }

    .list {
      visibility: hidden;
      opacity: 0;
      width: 150px;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 2;
      background-color: #fff;
      border: solid 1px #000;
      transition: all 0.25s ease;

      a {
        width: 100%;
        float: left;
        line-height: 35px;
        color: #444;
        border-top: solid 1px #eee;
        padding: 0 15px;
        transition: all 0.25s ease;

        &:first-child {
          border-top: 0;
        }

        &:hover {
          background-color: #eee;
        }
      }
    }

    &:hover {
      .list {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .shopcart {
    float: left;
    border-left: solid 1px var(--cesta_separador);
    padding-left: 10px;
    margin: 10px 0;
  }

  .cart {
    width: 30px;
    float: left;
    position: relative;
    color: var(--cesta_cor);

    &:not(.zero) {
      cursor: pointer;
    }

    i {
      font-size: 20px;
      line-height: 50px;
    }

    .sup {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      background-color: var(--cesta_numero_fundo);
      color: var(--cesta_numero_cor);
      border-radius: 100%;
      text-align: center;
    }
  }
}

.drop {
  position: absolute;
  width: 100%;
  max-height: 400px;
  overflow: auto;
  left: 0;
  top: 100%;
  padding: 15px 15px 0 15px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  &.subs {
    .grid {
      width: calc(100% - 350px);
      float: left;
    }

    .list {
      width: calc(33.3% - 10px);
    }

    .bnr {
      width: 340px;
      height: 280px;
      float: right;

      img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
      }
    }
  }

  .list {
    width: calc(25% - 10px);
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    float: left;

    li {
      width: 100%;
      float: left;
      text-indent: 5px;

      &:nth-child(2) {
        margin-top: 5px;
      }

      &.indent {
        text-indent: 15px;
      }

      &.t {
        text-indent: 0;

        a {
          background-color: var(--categorias_nivel2_fundo);
          color: var(--categorias_nivel2_texto);
          font-size: 16px;
          line-height: 18px;
          padding: 5px 10px;
          transition: all 0.25s ease;
          font-weight: bold;

          &:hover {
            text-decoration: none !important;
            background-color: var(--categorias_nivel2_fundo_hover);
            color: var(--categorias_nivel2_texto_hover);
          }
        }
      }
    }

    a {
      width: 100%;
      float: left;
      padding: 0;
      color: #000;
      font-size: 14px;
      line-height: 22px;
      border: none !important;

      i {
        transition: all 0.25s ease;
      }

      &:hover i {
        color: #f60;
      }
    }
  }
}

.openmenu {
  float: left;
  width: 50px;
  background-color: var(--mobile_produto_menu_fundo);
  color: var(--mobile_produto_menu_texto);
  text-align: center;
  margin: 10px !important;
  font-size: 20px;
  cursor: pointer;
  display: none;
  padding: 7px 0;

  span {
    font-size: 10px;
    line-height: 10px;
    margin-top: 5px;
    display: block;
  }
}

.content-oferta {
  > div {
    float: none !important;
    clear: both !important;
    .ofertas-periodicas {
      float: none !important;
      clear: both !important;
    }
  }
}

// responsive

@media screen and (max-width: 1024px) {
  header {
    .bar {
      padding-right: 10px;
    }

    .links ul > li > a {
      padding: 0 5px;
    }
  }
}

@media screen and (max-width: 800px) {
  .openmenu {
    display: block;
  }

  #btLogo {
    margin-left: 0;
    margin-right: 0;
  }

  header {
    .links,
    .dropdown {
      display: none;
    }

    .search {
      margin-top: 21px;
    }

    .shopcart {
      margin: 10px;
    }
  }
}

@media screen and (max-width: 598px) {
  header {
    .search {
      width: 40px;

      input {
        visibility: hidden;
        width: 200px;
        position: absolute;
        right: 100%;
        top: 0;
        z-index: 1;
        background-color: #fff !important;
        color: #000 !important;
      }

      &.open {
        input,
        .rm {
          visibility: visible;
        }
      }

      .boxquery {
        width: 100%;
        position: fixed;
        left: 0;
        top: 70px;
      }

      cover {
        visibility: visible;
      }
    }
  }
}

header {
  .wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content-logo {
      width: 25%;
      a[id="btLogo"] {
        margin: 0;
        width: 12rem;
        height: auto;
        float: none;
        display: block;
        img {
          width: 100%;
        }
      }
    }
    .menu-institucional {
      display: flex;
      width: 56%;
      justify-content: center;
      text-decoration: none !important;
    }
    .pull-right {
      width: 25%;
      display: flex;
      justify-content: center;
      gap: 1rem;
      .search {
        justify-content: end;
        margin: 0;
        display: flex;
        align-items: center;
        form[action="busca/"] {
          display: flex;
          align-items: end;
          justify-content: end;
          input {
            background: transparent;
            border-radius: 0;
            padding: 0;
            height: auto;
            line-height: 0;
            border-bottom: 1px solid var(--mt_amarelo);
            font-size: 1.2rem;
            &::placeholder {
              color: var(--mt_cinza);
            }
          }
          button {
            background: transparent;
            border-radius: 0;
            padding: 0;
            width: auto;
            height: auto;
            float: none;
            clear: both;
          }
        }
      }
      .content-user {
        display: flex;
        gap: 1rem;
        .dropdown {
          margin: 0;
          i {
          }
        }
        .shopcart {
          float: none;
          clear: both;
          border: 0;
          width: 28px;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          margin-left: 3rem;
          a.cart {
            span[class="sup"] {
              bottom: -5px;
              top: auto;
              width: 15px;
              height: 15px;
              font-size: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              right: -7px;
              background: #000;
            }
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .links {
    width: 100%;
    max-width: 100%;
    height: auto;
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    nav {
      ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
        li {
          border: 0;
          > a {
            line-height: normal !important;
            border-bottom: 0 !important;
            padding: 0;
          }
          
        }
        > li:has(> .drop) {
          position: relative;
          > .drop {
            position: absolute;
            width: 40rem;
            height: 40rem;
            top: 4rem;
            .central {
              .grid {
                ul.list {
                  width: auto;
                  display: block;
                  vertical-align: top;
                  margin-bottom: 15px;
                  float: none;
                }
                > ul.list:has(> li.drop) {
                  
                  li {
                    position: relative;
                    > ul {
                      position: absolute;
                      width: 40rem;
                      height: 40rem;
                      top: 4rem;
                      display: flex;
                      flex-direction: column;
                    }
                  }
                }
              }
            }
          }
        }
        
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content-oferta {
    background: var(--mt_amarelo);
    .ofertas-periodicas {
      width: 93% !important;
      margin: 0 auto;
    }
  }
  // HEADER
  header {
    > div.central {
      position: relative;
    }
  }
  .openmenu {
    width: 2.4rem;
    margin: 0 !important;
    position: absolute;
    top: 46%;
    left: 2rem;
    transform: translateY(-50%);
    background: transparent;
    color: #000;
    display: flex;
    flex-direction: column-reverse;
    z-index: 300;
    padding: 0 !important;
    i {
      font-size: 2.2rem;
      &::before {
        color: var(--mt_amarelo);
      }
    }
    > span[class="t"] {
      color: var(--mt_amarelo) !important;
      font-size: 1rem !important;
      margin-bottom: 0.3rem;
      margin-top: 0 !important;
    }
  }
  .wrapper-header {
    position: relative;
    display: flex;
    justify-content: end !important;
    align-items: center;
    width: 100%;
    height: 7.2rem;
    .content-logo {
      width: 10rem !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      a[id="btLogo"] {
        width: auto !important;
      }
    }
    .menu-institucional {
      display: none !important;
    }
    .pull-right {
      display: flex;
      justify-content: end !important;
      gap: 2rem !important;

      .search {
      }
      .content-user {
        gap: 1.5rem;
        .shopcart {
          margin-left: 0 !important;
          margin-right: 1rem !important;
          a {
            width: 20px !important;
          }
        }
      }
    }
  }
  .links.show-menu-mobile {
    transform: translateX(0);
    transition: all 1s ease;
  }
  .links {
    transition: all 1s ease;
    position: absolute;
    left: 0;
    display: block;
    background: #fff;
    width: 90vw !important;
    max-width: 90vw !important;
    height: 90vh !important;
    z-index: 9999;
    top: 0;
    border: 1px solid var(--unnamed-color-e1e1e1);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
    padding: 2rem !important;
    transform: translateX(-100%);
    display: block !important;
    .close {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      width: 25px;
      opacity: 1;
      img {
        width: 100%;
      }
    }
    .topo-not-logged {
      margin-bottom: 2.1rem !important;
      > div {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
      }
      a {
        font-size: 1.4rem;
        color: var(--mt_cinza);
        margin-bottom: 2rem;
        display: block;
        text-decoration: underline !important;
      }
    }
    .topo-logged {
      margin-bottom: 2.1rem !important;
      h1 {
        margin-bottom: 2.5rem !important;
      }
      a {
        display: block;
        margin-bottom: 1rem;
      }
      a:not(#b-desconectar) {
        color: var(--mt_amarelo);
      }
    }
    h1 {
      color: var(--mt_amarelo);
      font-size: 1.8rem !important;
    }
    nav {
      ul {
        flex-direction: column;
        gap: 1rem !important;
        li {
          display: block !important;
          border-bottom: 1px solid rgba(112, 112, 112, 0.5) !important;
          padding-bottom: 1rem !important;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 320px) {
}
