#geral{
	overflow: inherit;
}

main.categorias{
	padding: 0 50px;
}

#filiais{
	margin-bottom: 30px;
	
	.itens{
		.item{
			padding: 5px;
			background-color: #FFF;
			border: solid 1px #EEE;
			border-radius: 3px;
			
			a{
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				
				img{
					width: auto;
					max-height: 100px;
				}
			}
		}
	}
}