{% set bannerMainMedium = store.publicityBanner({tipo:'25', limit:'2'}) %}
{% set videoHome = html.getHomeVideo() %}

<section id="page_home" class="block">
	{{ include('widgets/home-slides.html') }}
	
	{% if recursos.slogan %}
	<div id="slogan" class="mb-4">
		<div class="central">
			<p>{{ recursos.slogan }}</p>
		</div>
	</div>
	{% endif %}
	
	{{ include('widgets/alertas-destaque.html') }}
	
	{% if videoHome.posicionamento == 'top' %}
		{{ include('widgets/widget-video-home.html') }}
	{% endif %}
	
	{{ include('widgets/banners-25.html') }}
	{{ include('widgets/banners-21.html') }}
	
	{% if config.hasPerformaAI %}
	<performa></performa>
	{% endif %}
	
	<section class="block">    
		<div class="central">
			{% if global.produtos_kits_posicao == '1' %}
				<component data-modulo="kits" loading="false" data-shimmer="4"></component>
			{% endif %}
	
			{% if recursos.vitrines|length >= 1 %}
				{% if carrega_home_dinamicamente %}
					{% for vitrine in recursos.vitrines %}
						<component data-modulo="vitrine" data-id="{{ vitrine.id }}" loading="false" data-column="4" data-shimmer="4"></component>
					{% endfor %}
				{% else %}
					{{ produtos_vitrines|raw }}
				{% endif %}
			{% else %}
				{% if carrega_home_dinamicamente %}
					<component data-modulo="lancamentos" loading="false" data-column="4" data-shimmer="4"></component>
				{% else %}
					{{ produtos_lancamentos|raw }}
				{% endif %}
				{% if config.hasSmartHint %}
					<div id="smarthint-position-1"></div>
					<div id="smarthint-position-2"></div>
					<div id="smarthint-position-3"></div>
					<div id="smarthint-position-4"></div>
					<div id="smarthint-position-5"></div>
				{% endif %}
			{% endif %}
			
			{% if global.produtos_kits_posicao == '2' %}
				<component data-modulo="kits" loading="false" data-shimmer="4"></component>
			{% endif %}
		</div>
		
		{% if videoHome.posicionamento == 'bottom' %}
			{{ include('widget-video-home.html') }}
		{% endif %}
		
		{{ include('widgets/avaliacoes.html') }}
		{{ include('widgets/marcas.html') }}
		{{ include('widgets/widget-instagram.html') }}
		{{ include('widgets/widget-blog-posts.html') }}
	</section>
	
	{% if config.hasSmartHint %}
	<script>
	$(function(){
		SmartHint.Call('setPage',{type:'home', data: {} });
	});
	</script>
	{% endif %}
	
	{% if config.hasPerformaAI %}
	<performa></performa>
	{% endif %}
</section>