#geral{
	overflow: inherit !important;
}

main.page_search{
	padding: 0 50px;
}

#departamentos{
	padding-top: 20px;
	min-height: 300px;
	
	.title{
		margin-bottom: 20px;
	}
	
	.cln{
		float: left;
		display: block;
		
		&.p{
			width: 250px;
			padding-right: 15px;
			
			.listing{
				width: 100%;
				float: left;
				margin-bottom: 20px;

				&.colors{
					.cor_primaria{
						width: 22px !important;
						height: 22px;
						position: relative;
						margin: 2px;
						display: inline-block;
						border-radius: 100%;
						overflow: hidden;

						&.active{
							border-color: #b4ff95;
							border-width: 4px;

							.cor_secundaria{
								border-width: 22px;
							}
						}
					}

					.cor_secundaria{
						position: absolute;
						right: 0;
						top: 0;
						border-left: solid 28px transparent;
						border-bottom: solid 28px transparent;
					}
				}

				.b{
					width: 100%;
					float: left;
				}
				
				.t{
					font-size: 16px;
					line-height: 18px;
					margin-bottom: 10px;
					color: #000;
					font-weight: bold;
				}
				
				a{
					width: 100%;
					float: left;
					line-height: 22px;
					color: #000;
					font-weight: 100;
					text-transform: uppercase;
					margin-bottom: 3px;
					
					&:hover{
						text-decoration: underline !important;
					}
					
					&.active{
						color: #3E8ED8;
					}
				}
			}
		}
		
		&.s{
			width: calc(100% - 250px);
		}
	}
}

.produtos{
	.item .more{
		display: none;
	}
}

@media screen and (max-width: 768px){
	main.categorias{
		padding: 0;
	}
}
